<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portada</title>
    <link rel="stylesheet" href="/css/portada.css">
</head>
<body>
    
    <main class="main">
        
    
            <div class="texto">
                <h1>portafolio</h1>
                <div class="clima">
                    <p ><%= tempActual %> </p>
                </div>
            </div>

            <nav class="nav">
                <ul class="lista">
                    <li><a href="/chat" >chat</a></li>
                    <li><a href="/DB" >ver database de mongoDB</a></li>
                    <li><a href="/tareas">organizador de tareas</a></li>
                    
                </ul>
            </nav>
      
    </main>

    <main></main>
</body>
</html>