*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #114e60;
}

/* header part */
.header{
    background-color: #3c415c;
    
}

.back{
    color: white;
}

.title{
    color: white;
}

.back:hover{
    color: lightcyan;
}

/* ---- */

/* main */


/* parte de de works */
.works{
    background-color: black;
    color: white;
    width: 70%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.add{
    margin-top: 0.3%;
    align-self: flex-start;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 0.4%;
    background-color: #151515;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.add:hover{
    background-color: #1a1a2e;
}

.figure{
    background-color: #272121;
    width: 40%;
    border-bottom: black solid  1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delete{
    align-self:flex-end;
    height: 30px;
    width: 30%;
}
/* ------ */


/* tarea formulario */

.tarea{
    position: absolute;
    display: flex;
    left: 0;
    top: 23%;
    flex-direction: column;
    height: 100%;
    width: 29%;
    opacity: 0;
    display: none;
    transition: opacity 1s;
}

.label{
    align-self: center;
    font-size: 20px;
    margin-top: 30px;
}

.input{
    align-self: center;
    width: 95%;
    height: 10%;
    
}

.crear{
    align-self: center;
    width: 50%;
    margin-top: 30px;
    height: 15%;
}



/* ------ */