<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/tareas.css">
</head>
<body>
    <header class="header">
        <h2>organizador de tareas</h2>
        <a href="/">regresar</a>
    </header>

    <main class="container">
        <div class="tareaD">
            <h2 class="datos">datos sobre la tarea</h2>

            <form action="" style="width: 100%; height: 90%;">
            <input class="asi info" type="text" placeholder="asignatura"  required >
            <input class="des info" type="text" placeholder="descripcion breve" required >
            <div class="fech">
                <label>fecha termino:</label>
                <input class="fec" type="date" required >
            </div>
            <button class="crear">crear tarea</button>
            </form>
        </div>

        <div class="tarjetas">
        </div>
    </main>

    <script src="js/tareas.js"></script>
</body>
</html>