<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear</title>
    <link rel="stylesheet" href="/css/crearData.css">
</head>
<body>

    <div class="container">
    <header>
        <h1>Crear Registro</h1>
        <a class="a" href="/DB">cancelar</a>
    </header>
    
    <!-- ya que este action esta adentro de la url DB, solamente le ponemos el nombre y la url se pone DB/nombrequepusimo -->
        <form class="form" action="insertar" method="POST">
            <label for="animal">ingrese raza del animal</label>
            <input type="text" name="animal" id="animal" required>
        
            <label for="nombre">ingrese nombre</label>
            <input type="text" name="nombre" id="nombre" required>

            <button type="submit">crear nuevo registro</button>

            
        </form>
    </div>
</body>
</html>