<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="/css/verDatosDB.css">
</head>
<body>


    <header>
    <h2>tabla de datos en mongoDB</h2>
    <nav>
        <a href="DB/crear" class="crear">crear nuevo registro</a>
        <a href="/" class="regresar">regresar</a>
    </nav>
    </header>
    
     
        <table >
            <thead>
                <tr>
                    <th>raza</th>
                    <th>Nombre</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <% arrMascota.forEach(ele => { %>
                <tr>
                    <td class="animal"><%= ele.animal %></td>
                    <td><%= ele.nombre %></td>
                    <!-- los href tienen que escribirse desde el principio -->
                    <td><a href="DB/editar/<%= ele.id %>" class="edit">EDITAR |</a>
                        <a href="DB/borrar/<%= ele.id %>" class="edit"> BORRAR</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        
        
        
        
        
        
    
</body>
</html>